anyio
asgiref
attrs
Babel
beautifulsoup4
black
blinker
certifi
chardet
charset-normalizer
click
colorama
command-not-found
commonmark
cov-core
coverage
crispy-bootstrap5
cryptography
dbus-python
distlib
distro
distro-info
dj-database-url
Django
django-crispy-forms
django-email
django-environ
djhtml
execnet
filelock
flake8
h11
html5lib
httpcore
httplib2
httpx
idna
importlib-metadata
iniconfig
isort
jeepney
Jinja2
keyring
launchpadlib
lazr.restfulclient
lazr.uri
livereload
lxml
Markdown
MarkupSafe
mccabe
mkdocs
more-itertools
mypy
mypy-extensions
nala
netifaces
nose2
oauthlib
packaging
pathspec
pexpect
pillow
platformdirs
pluggy
psutil
psycopg2-binary
ptyprocess
py
pycodestyle
pyflakes
Pygments
PyGObject
pyinotify
PyJWT
pyparsing
pytest
pytest-cov
pytest-forked
pytest-sugar
pytest-xdist
python-apt
pytz
PyYAML
rfc3986
rich
SecretStorage
shellingham
six
sniffio
socksio
soupsieve
sqlparse
systemd-python
termcolor
toml
tomli
tornado
typed-ast
typer
typing_extensions
ubuntu-advantage-tools
ufw
unattended-upgrades
virtualenv
wadllib
webencodings
zipp
